<header [className]="isLightTheme ? 'dark-theme' : ''">
  <div class="container-header">
    <div>
      <span>Where in the world?</span>
    </div>
    <div>
      <button class="btn-theme" type="button" (click)="onThemeSwitchChange()">
        <img
          [src]="
            isLightTheme
              ? '/assets/images/svg/icon-moon-fill.svg'
              : '/assets/images/svg/icon-moon-not-fill.svg'
          "
          alt="moon icon"
        />
        <span>{{ isLightTheme ? "Dark Mode" : "Light Mode" }}</span>
      </button>
    </div>
  </div>
</header>
