header {
  font-family: "Nunito";
  box-shadow: 0 2px 10px 0 rgba(217, 217, 217, 0.5);
  background-color: var(--LightModeBg);
}

header.dark-theme {
  background-color: var(--DarkModeElements);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

header.dark-theme span {
  color: var(--DarkModeText-LightModeElements);
}

.container-header {
  height: 5rem;
  padding: 0 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-theme {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  background-color: transparent;
}

.btn-theme span {
  font-weight: 600;
}

.btn-theme img {
  max-width: 1.25rem;
}

span {
  font-weight: 800;
}

main {
  margin: 50px auto;
}
