form {
  height: 16.25rem;
  gap: 3.125rem;
  padding: 0 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mat-mdc-form-field {
  align-self: baseline;
  box-shadow: 0 2px 10px 0 rgba(217, 217, 217, 0.5);
}

::ng-deep
  .mat-mdc-form-field:not(.mat-form-field-disabled)
  .mat-mdc-floating-label.mdc-floating-label {
  color: var(--LightModeText);
}

::ng-deep
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

.boxSearchCountry {
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: stretch;
  position: relative;

  border-radius: 0.625rem;
  border: 1px solid var(--mdc-outlined-text-field-disabled-input-text-color);
  box-shadow: 0 2px 10px 0 rgba(217, 217, 217, 0.5);
}

.boxSearchCountry .searchIcon {
  position: absolute;
  left: 1.5rem;
  top: 1.75rem;
}

section {
  padding: 0 50px;
  text-align: center;
}

input {
  width: 100%;
  border: none;

  padding: 0 8px;
  margin-left: 4rem;

  background-color: transparent;
  border-radius: 0px 10px 10px 0px;
}

input:focus {
  outline: 0;
}

input::placeholder {
  color: #d2d2d2;
}

ul {
  display: grid;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

::ng-deep .cardInfoCountry .mat-mdc-card-header {
  padding: 0;
}

::ng-deep .cardInfoCountry.mat-mdc-card {
  height: 100%;
  max-width: 25rem;

  cursor: pointer;
  border-radius: 0.625rem;
  box-shadow: 0 2px 10px 0 rgba(217, 217, 217, 0.5);
}

::ng-deep .cardInfoCountry img {
  height: 100%;
  max-height: 15rem;
  max-width: 22rem;

  border-radius: 10px 10px 0 0;
  box-shadow: 0px 15px 10px -15px rgba(217, 217, 217, 0.5);
}

::ng-deep .cardInfoCountry .mat-mdc-card-content:last-child {
  padding-bottom: 3.75rem;
}

::ng-deep .cardInfoCountry .mat-mdc-card-content {
  padding: 40px 30px;
  height: 100%;

  font-family: "Nunito";

  display: flex;
  flex-direction: column;
  align-items: baseline;
}

::ng-deep .cardInfoCountry .mat-mdc-card-content h1 {
  font-size: 2rem;
  font-weight: 800;
}

::ng-deep .cardInfoCountry .mat-mdc-card-content .infoContent {
  margin-top: 1.875rem;
  font-size: 1.125rem;

  gap: 1rem;
  display: flex;
  flex-direction: column;
}

::ng-deep .cardInfoCountry .mat-mdc-card-content .infoContent > div {
  display: flex;
  gap: 0.5rem;
}

::ng-deep .cardInfoCountry .mat-mdc-card-content .infoContent p {
  font-weight: 600;
}

@media (min-width: 850px) {
  .cardInfoCountry img {
    max-width: unset;
    max-height: 17rem;
  }

  ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media (min-width: 1000px) {
  input {
    font-size: 1rem;
  }

  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  form {
    padding: 0 50px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .boxSearchCountry {
    width: 40%;
  }

  .mat-mdc-form-field {
    align-self: unset;
  }

  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
