<form>
  <div class="boxSearchCountry" [style.border]="touched" (click)="onClick()">
    <div class="searchIcon">
      <img
        [src]="
          isDark
            ? '/assets/images/svg/icon-search.dark.svg'
            : '/assets/images/svg/icon-search-light.svg'
        "
        alt="search icon"
      />
    </div>
    <input
      type="text"
      id="search"
      #criteria
      (input)="searchCountry(criteria.value)"
      placeholder="Search for a country..."
    />
  </div>
  <mat-form-field appearance="outline">
    <mat-label class="selectLabel">Filter by Region</mat-label>
    <mat-select name="region">
      <!-- <mat-option [value]="null" disabled>None</mat-option> -->
      @for (region of uniqueRegions; track uniqueRegions) {
      <mat-option>{{ region }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
<section>
  <!-- <a routerLink="/detailsCountry">detailsCountry</a> -->
  <ul>
    @for (country of filteredCountries | paginate : { itemsPerPage: pageSize,
    currentPage: page, totalItems: count }; track country.name) {
    <li>
      <mat-card class="cardInfoCountry">
        <mat-card-header>
          <img
            mat-card-image
            [src]="country.flags.svg"
            alt="'{{ country.flags.alt }}'"
          />
        </mat-card-header>
        <mat-card-content>
          <h1>{{ country.name.common }}</h1>
          <div class="infoContent">
            <div>
              <p>Population:</p>
              <span>{{ country.population.toLocaleString("en-US") }}</span>
            </div>
            <div>
              <p>Region:</p>
              <span>{{ country.region }}</span>
            </div>
            <div>
              <p>Capital:</p>
              <span>{{ country.capital }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
    }
  </ul>
  <div>
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</section>
